body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fdd306;
    color: #2e368f;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #2e368f;
    color: #fdd306;
    padding: 10px;
    text-align: center;
}
